
<div>


</div>


<script>

    //$(document).ready(funtion()
    //{
    //    $("#adicionar").click(function () {

    //        $(".item").append(

    //            '<select></select'

    //        );




    //    });
    //});

</script>