<div class="card-body">
    @using (Html.BeginForm("ConfirmarAvaliação", "Orçamento", FormMethod.Post))
    {
        <h5 class="smallHeader">Aguardando avaliação do Veículo...</h5>
        <input type="hidden" id="Id" name="Id" value="@ViewBag.Id" />
        <div class="row mb-2">
            <div class="col-md-6 col-sm-12">
                <button type="submit" class="btn btn-success" value="22" name="Operação" id="Operação">Confirmar Avaliação</button>
            </div>
            <div class="col-md-6 col-sm-12">
                <button type="submit" class="btn btn-secondary" value="24" name="Operação" id="Operação">Cliente Ausente</button>
            </div>
        </div>
    }
</div>
