<div class="card-body">

    <h5 class="smallHeader mb-3">Aguardando formulação...</h5>

    @if (ViewBag.Formulação == null)
    {
        using (Html.BeginForm("Formulando", "Orçamento", FormMethod.Post))
        {
            <div class="text-center">
                <input type="hidden" id="Id" name="Id" value="@ViewBag.Id" />
                <input type="submit" class="btn btn-primary mx-auto" value="Formular Orçamento" />
            </div>

        }
    }

    @if (ViewBag.Formulação == true)
    {
        <a class="btn btn-primary" href="@Url.Action("AddItemOrçamento2", "Orçamento", new {Id = ViewBag.Id})">Formular Orçamento</a>
    }
</div>
