
<div class="row">
    <div class="col">
        <p>@ViewBag.ServiçoCategoria.Categoria.Nome</p>
    </div>
    <div class="col">
        <p>@ViewBag.ServiçoCategoria.Serviço.Nome</p>
    </div>
    <div class="col">
        <p class="preço" value="@ViewBag.ServiçoCategoria.Serviço.Preço">@ViewBag.ServiçoCategoria.Serviço.Preço.ToString("F")</p>
    </div>
</div>