
<div class="col" id="DivServiço">
<select id="Serviços" placeholder="Escolha um Serviço">
    <option value="">Escolha um Serviço</option>
    @if (ViewBag.ServiçoOficina != null)
    {
        foreach (var item in ViewBag.ServiçoOficina)
        {
            <option value="@item.Id">@item.Nome - @item.Preço.ToString("F")</option>
        }
    }
</select>
</div>