<div class="container text-center mt-4 mb-4">
    <h2>Status do Orçamento: </h2>
</div>

<div class="container border border-secondary" id="Status">

</div>

@section scripts {

    <script>

        $(document).ready(function () {

            if (@ViewBag.OrçamentoId != null) {

                var orçamentoId = @ViewBag.OrçamentoId;
            }

            $.ajax
                ({
                    type: 'GET',
                    url: "/Orçamento/StatusOrçamentoPessoaPartial/?Id=" + orçamentoId,
                    dataType: 'html',
                    cache: false,
                    success: function (data) {
                        $('#Status').append(data);
                    }
                });
        });
    </script>
}
