@model Projeto_TCC_2022.Models.Peça

@{ 
    decimal PreçoMin = 0, PreçoMax = 0;
}

<div class="row itemOrçamento">
    <div class="col">
        <p>@Model.Nome</p>
    </div>
    <input class="d-none peçasId" value="@Model.Id" />
    <div class="col">
        @if (Model.PreçoMin != null)
         {
            PreçoMin = (decimal)Model.PreçoMin;
            <p class="preço">@PreçoMin.ToString("F")</p>
         }
        @if (Model.PreçoMax != null)
         {
            PreçoMax = (decimal)Model.PreçoMax;
            <p class="preço">@PreçoMax.ToString("F")</p>
         }
    </div>

    <div class="col">
        <input class="form-control itemOrçamentoValue" onchange="Valor()" data-val="true" data-val-required="Campo Requerido" @if (Model.PreçoMin != null) { <text>min = "@PreçoMin"</text>} @if (Model.PreçoMin != null) { <text>max="@PreçoMax"</text>} data-val-number="Valor precisa ser um número." />
    </div>

</div>
