
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<form class="row g-3" action="/carros/salvar" method="post">

	<div class="col-12">
		<label for="placa" class="form-label">Placa</label>
		<input type="text" id="placa" name="placa" class="form-control" />
	</div>

	<div class="col-12">
		<label for="modelo" class="form-label">Modelo</label>
		<input type="text" id="modelo" name="modelo" class="form-control" />
	</div>

	<div class="col-12">
		<label for="cor" class="form-label">Cor</label>
		<input type="text" id="cor" name="cor" class="form-control" />
	</div>

	<div class="col-12">
		<label for="motorização" class="form-label">Motorização</label>
		<input type="text" id="motorização" name="motorização" class="form-control" />
	</div>
	<div class="col-12">
		<label for="marca" class="form-label">Marca</label>
		<input type="text" id="marca" name="marca" class="form-control" />
	</div>

	<div>
		<br />
		<button class="btn btn-danger" type="submit"> Salvar</button>
	</div>

</form>