/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top:120px;
}

.upload > input {
    display: none;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select {
    max-width: 280px;
}

textarea {
    max-width: 480px;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #777;
    border-color: #fff
}

/*Search*/

textarea {
    resize: none;
}

ul {
    list-style-position: inside;
}

a.deco-none {
    color: inherit;
    text-decoration: inherit;
}

a.deco-none:link {
    color: inherit;
    text-decoration: inherit;
}

a.deco-none:hover {
    color: inherit;
    text-decoration: inherit;
}

.centerOficinaImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.categoriaLayout.selectize-control.single .selectize-input {
    background: none !important;
    width: 100px !important;
    position: absolute !important;
}

.categoriaLayout.selectize-control.single .selectize-dropdown{
    width: 300px !important;
}

#navSearch{
    width: 400px;
}

#notificaçãoLista {
    padding-left: 0 !important;
}

.notificação {
    left: 50% !important;
    transform: translateX(-50%) !important;
    top: 100% !important;
    width: 300px;
    height: auto;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}