
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <select id="Categorias" placeholder="Escolha uma Categoria">
                    <option value="">Escolha uma Categoria</option>
                    @foreach (var item in ViewBag.CategoriasOficina)
                    {
                        <option value="@item.Id">@item.Nome</option>
                    }
                </select>
            </div>


            <div class="col" id="DivServiço">
                <select id="Serviços" placeholder="Escolha um Serviço">
                    <option value="">Escolha um Serviço</option>
                </select>
            </div>


            <div class="col">
                <button onclick="AddItem()">Adicionar Serviço</button>
            </div>


            <div class="container mt-5" id="corpo"></div>
            <div class="container mt-5" id="total"></div>
            <div class="text-center"><button onclick="LimparOrçamento()">Limpar Escolhas</button></div>
            <div id="erro"></div>
            <div class="text-center"><button onclick="Submit()" class="btn btn-default">Confirmar</button></div>

            <div class="text-center mt-4">*Valor ainda não inclui valores das peças, somente do serviço*</div>
        
        </div>
    </div>





@section scripts{

    <script>

        function AddItem() {

            var serviçoId = $("#Serviços").val();
            let dado;

            $.ajax
            ({
                type: 'GET',
                url: "/NewOrçamento/ItemOrçamentoPartial/?Id=" + serviçoId,
                dataType: 'html',
                cache: false,
                success: function (data) {
                    $('#corpo').append(data);
                    $.ajax
                    ({
                        type: 'GET',
                        url: "/NewOrçamento/TotalPartial1/",
                        dataType: 'html',
                        cache: false,
                        success: function (data) {
                            $('#total').html(data);
                        }
                    })

                }
            });
        }

        function eventHandler(InputCategoria) {
            var CategoriaController = InputCategoria[0].selectize;
            var categoriaId = CategoriaController.getValue();
            console.log("Executado");

            var url = "/Orçamento/ServiçosDisponiveisPartial/?categoriaId=" + categoriaId + "&oficinaId=" + @ViewBag.OrçamentoOficina.Id;

            $.ajax
            ({
                type: 'GET',
                url: url,
                dataType: 'html',
                cache: false,
                success: function (data) {
                    $('#DivServiço').html(data);
                },
                error: function () {
                    console.log("Erro");
                }
            }).done(function () {
                var InputServiço = $('#Serviços').selectize({
                    sortField: 'text'
                });
                console.log("Partial JS rodado");
            });
        };

        $(document).ready(function () {

            var InputServiço = $('#Serviços').selectize({
                sortField: 'text'
            });

            var ServiçoController = InputServiço[0].selectize;

            ServiçoController.disable();

            var InputCategoria = $('#Categorias').selectize({
            sortField: 'text',
            onChange: function () {
                eventHandler(InputCategoria);
            }
            });
        });

        function LimparOrçamento() {
            $(".itemOrçamento").empty();
            $("#DivSoma").empty();

            $.ajax
            ({
                type: 'GET',
                url: "/Orçamento/LimparOrçamento",
                dataType: 'html',
                cache: false,
                error: function () {
                    console.log("Erro");
                }
            });
        }

        function Submit() {
            var serviços = $(".itemOrçamentoId").map((_, item) => item.value).get();
            
            var total = $("#valorTotal").val();

            let ServiçoTotal = {
                serviços: serviços,
                Total: total
            }

            if (total != null) {

                $.ajax
                    ({
                        type: 'POST',
                        url: '@Url.Action("Submit", "Orçamento")',
                        data: {
                            serviços: serviços,
                            total: total
                        }

                    })
            }
            else {
                erro = '<div id="erro"><p>Insira algum item no orçamento para prosseguir.</p></div>';
                $('#erro').html(erro);
            }
        }


    </script>
}
