<div class="container text-center" id="DivSoma">
    <p>Total Mínimo: @ViewBag.TotalMin.ToString("F")</p>
    <p>Total Máximo: @ViewBag.TotalMax.ToString("F")</p>
    <input class="d-none" id="valorTotal" value="@ViewBag.Total" />
</div>