
<header>
    <div class="row">
        <div class="gallery_product  col-sm-16 ">
            <img src="~/Content/images/fundo.jfif" class="rounded float-start col-sm-6 " style="margin:10px" />
            <figure class="text-end">
                <h1 class="title text-center">Nossas oficinas</h1>
            </figure>
            <p style="font-size:20px">
                Graças ao nosso site varias oficinas conseguem milhares de clientes todos os dias. Aqui sua oficina conseguem lançar seus serviços para que vários clientes consigam visualizar. Além disso oferecemos no nosso serviço uma agenda com os clientes que marcou e além disso um método de avaliação para que você escolhas os melhores clientes para sua oficina.
            </p>
            <a href="/Cadastro/CadastroOficina" class="btn btn-success btn-lg me-3 ">Cadastre-se como Oficina</a>
        </div>
    </div>
    <p></p>
    <div class="row">
        <div class="gallery_product  col-sm-16 ">
            <img src="~/Content/images/cliente.jfif" class="rounded float-end col-sm-6 " style="margin:10px;" />
            <figure class="text-start">
                <h1 class="title text-center">Nossos clientes</h1>
            </figure>
            
            <p style="font-size:20px">
                Aqui você pode encontrar milhares de oficinas que ajudarão a solucionar o problema do seu veiculo. Com nosso sistema de avaliação você consegue encontrar a oficina ideal é com melhor preço tanto para carros importados quanto nacionais. Além disso aqui você consegue analisar os melhores preços na sua região e escolher qual oficina mais lhe atende para que consiga fazer a melhor escolha
            </p>
            <div class="justify-content-center">
              <a href="/Cadastro/CadastroPessoa" class="btn btn-warning btn-lg me-3 ">Cadastre-se como Cliente</a>
            </div>
        </div>
    </div>
</header>