<div class="gap-3 justify-content-center d-flex">
    <a href="/Cadastro/CadastroPessoa" class="btn btn-primary btn-lg me-3">Cadastre-se como Cliente</a>
    <a href="/Cadastro/CadastroOficina" class="btn btn-outline-primary btn-lg me-3">Cadastre-se como Oficina</a>
</div>