
<div class="text-center mt-5">
    <a href="/Cadastro/CadastroPessoa" class="btn btn-primary btn-lg mt-5 text-center">Quero ser Usuário</a>
    <a type="button" href="/Cadastro/CadastroOficina" class="btn btn-secondary btn-lg mt-5 text-center">Quero ser Oficina</a>
</div>