<header class="bg-dark py-5">
    <div class="container">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                    <h1 class="display-5 fw-bolder text-white mb-2">Uma nova maneira de buscar oficinas e fazer orçamentos</h1>
                    <p class="lead text-white-50 mb-3">Ache a oficina ideal para o seu carro e agende um orçamento na hora!</p>
                </div>
                <div class="gap-3 justify-content-center d-flex">
                    <a href="/Cadastro/CadastroPessoa" class="btn btn-primary btn-lg me-3">Cadastre-se como Cliente</a>
                    <a href="/Cadastro/CadastroOficina" class="btn btn-outline-primary btn-lg me-3">Cadastre-se como Oficina</a>
                </div>
            </div>
        </div>
    </div>
</header>