@{
    ViewBag.Title = "Search Results";
}

@{
    if (ViewBag.Oficinas != null)
    {
        for (int i = 0; i < ViewBag.Oficinas.Count; i++)
        {
            <div>
            <a href="@Url.Action("Page", "Oficina", new { Id = ViewBag.Oficinas[i].Id })" class="mt-5">@ViewBag.Oficinas[i].Nome</a> @* Criar anchor pra página da Oficina, que nem editar carro *@
           @if (ViewBag.Imagens[i] != null)
            {
                //falta formatar a imagem
                <img src="@ViewBag.Imagens[i].Url" alt="Imagem da Oficina" />
            }
            </div>
        }

    }
    else
    {
        <div class="text-center">
            <h1><i class="bi bi-exclamation-triangle-fill" style="font-size:larger"></i></h1>
            <h1>Oficina ou Serviço com os filtros desejado não foi encontrada<i class="bi bi-exclamation-lg"></i></h1>
        </div>
    }
}