<h2 class="mt-5 mb-4">Aprovar Oficinas:</h2>

@if (ViewBag.Oficinas != null)
{
    <div class="container">
        @for (int i = 0; i < ViewBag.Oficinas.Count; i++)
        {
            <div class="row text-center mb-4">
                @if (ViewBag.Imagens[i] != null)
                {
                    <div class="col">
                        <img src="@ViewBag.Imagens[i].Url" alt="Imagem da Oficina" class="img-thumbnail img-responsive" width="150" height="50" />
                    </div>
                }
                else
                {
                    <div class="col">
                        <img src="../../Content/(400x400).png" alt="Imagem da Oficina" class="img-thumbnail img-responsive" width="150" height="50" />
                    </div>
                }

                <div class="col">@ViewBag.Oficinas[i].Nome</div>
                <div class="col">
                    <a href="@Url.Action("AprovarOficinas", "Administrador", new { Id = ViewBag.Oficinas[i].Id })">Ver Mais</a>
                </div>

            </div>
        }
    </div>
}

else
{
    <h2 class="text-center">Nenhuma Oficina para aprovar.</h2>
}