@using (Html.BeginForm("MudarImagem", "Imagem", FormMethod.Post, new
{
    enctype = "multipart/form-data"
}))
{
    <div>
        @Html.TextBox("img", "", new { type = "file" }) <br />

        <input type="submit" value="Upload" />

    </div>

    <div>
        @Html.ActionLink("Retornar", "Page/", "Oficina", new { id = (int)ViewBag.userID }, new { @class = "" })
    </div>
}