@using (Html.BeginForm("MudarImagem", "Imagem", FormMethod.Post, new
{
    enctype = "multipart/form-data"
}))
{
    <div>
        @Html.TextBox("img", "", new { type = "file" }) <br />

        <input type="submit" value="Upload" />

    </div>
}