@model Projeto_TCC_2022.Models.CelularTelefone

@using (Html.BeginForm("CadastrarNúmero", "Numero", FormMethod.Post))
{

    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Telefone Fixo ou Celular</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body pt-0">
                <div class="form-horizontal">
                    
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <h5 class="smallHeader mt-4">Telefone ou Celular:</h5>
                    <div class="mt-2">
                        <input class="form-control text-box single-line mt-3" name="CelularTelefone1" , id="CelularTelefone" data-val="true"  data-val-required="O campo Telefone Celular é obrigatório" data-val-regex-pattern="[1-9]\d9?\d{4}\d{4}" data-val-regex="Número Inválido" />
                        @Html.ValidationMessageFor(model => model.CelularTelefone1, "", new { @class = "text-danger mt-2" })
                    </div>

                    <div class="text-center">
                        <input type="submit" value="Confirmar" class="btn btn-primary mt-4" />
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
}